@media screen and (min-width: 600px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  body {
    gap: 6rem;
  }
  .main-header {
    margin-top: 6rem;
  }

  #main {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #new {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #top {
    grid-column: 1/3;
    grid-row: 2/3;
    flex-direction: row;
    flex-shrink: 0;
  }
  /* NAV */
  .btn-menu {
    display: none;
  }
  .nav {
    background-color: transparent;
    width: auto;
    height: auto;
    position: relative;
    display: block;
    transform: translate(0);
    transition: transform 500ms ease-in-out;
  }
  .nav.active {
    transform: translate(0);
  }
  .nav-menu {
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  /* MAIN ARTICLE */
  .desktop {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #main h1 {
    font-size: 6rem;
    grid-column: 1/2;
    grid-row: 2/4;
  }
  #main p {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .read-more {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
